@import "tailwindcss";

:root {
  color: var(--color-zinc-950);
  background-color: var(--color-zinc-100);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-accent-50: var(--color-sky-50);
  --color-accent-100: var(--color-sky-100);
  --color-accent-200: var(--color-sky-200);
  --color-accent-300: var(--color-sky-300);
  --color-accent-400: var(--color-sky-400);
  --color-accent-500: var(--color-sky-500);
  --color-accent-600: var(--color-sky-600);
  --color-accent-700: var(--color-sky-700);
  --color-accent-800: var(--color-sky-800);
  --color-accent-900: var(--color-sky-900);
  --color-accent-950: var(--color-sky-950);
  --color-accent: var(--color-accent-500);
}

.text-dark {
  color: var(--color-zinc-950);
}

.text-light {
  color: var(--color-zinc-100);
}

:root,
body {
  margin: 0;
  min-height: 100%;
}